@import "tailwindcss";

@theme {
  /* Tus colores personalizados */
  --color-background: #09090b;
  --color-foreground: #ffffff;
  --color-cyan: #00f0ff;
  --color-magenta: #ff00a0;
  --color-surface: #18181b;
  --color-amber: #f59e0b;
  --color-emerald: #10b981;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}